<h1 class="text-center"> Comments </h1>

<hr>

<div class="text-left">
	<h3 class="text-center">Latest comments</h3>
	<% @comments.each do |comment| %> 
	<table class="table">
		<tr>
			<th>Title</th>
			<th>Name</th>
			<th>Text</th>
		</tr>

		<div class="table">
			<tr>
				<td><%= comment.title %></td> 
				<td><%= comment.name %></td>
				<td><%= comment.text %></td>
				<td><%= comment.created_at %></td>
			</tr>
		</div>
	</table>

	<% end %>
</div>
</div>
