<h1> Students' Wall </h1>

<% @comments.each do |comment| %> 
<table>
	<th>Title</th>
	<th>Name</th>
	<th>Text</th>

	<tr>
		<td><%= comment.title %></td> 
		<td><%= comment.name %></td>
		<td><%= comment.text %></td>
		<td><button type='button' id='like-button'> Like </button></td>
	</tr>
</table>
<% end %>

<%= link_to 'Home', root_path %>