
<h3> Matching Game </h3>

<img id="games" src="http://icons.iconarchive.com/icons/martz90/hex/256/gamehub-icon.png" height="46" width="46">

<p> Match the verb to the associated "words".</p>
	<ul> 
		<li> PLAY... football / ball / dead / ground / around / chess / music / fight / hockey / the trumpet / the piano.</li>
	</ul>

<script src="games.js" type="text/javascript"></script>

<%= link_to 'Home', root_path %>
