<!DOCTYPE html>
<html>
<head>
</head>

<div id="top-bar">
			<nav id="nav_bar">

				<ul class="nav nav-pills">

					<li role="presentation"><span id="home-link">
											<img id="teachers" src="http://icons.iconarchive.com/icons/martz90/hex/256/browser-icon.png" height="36" width="36">
										</span><a href="#">HOME</a>
									</li>

				  <li role="presentation"><span id="teachers-link">
											<img id="teachers" src="http://icons.iconarchive.com/icons/martz90/hex/256/bookmark-icon.png" height="36" width="36">
										</span><a href="/teachers">TEACHERS</a>
									</li>

				  <li role="presentation"><span id="student-link">
										<img id="student" src="http://icons.iconarchive.com/icons/martz90/hex/256/favourites-icon.png" height="36" width="36"> 
									</span><a href="/students">STUDENTS</a>
								</li>
			
				  <li role="presentation"><span id="tools-link">
										<img id="tools" src="http://icons.iconarchive.
										com/icons/martz90/hex/256/duolingo-icon.png" height="36" width="36">
									</span><a href="/tools">TOOLS</a>
								</li>
									

				   <li role="presentation" class="active"><span id="games-link">
										<img id="games" src="http://icons.iconarchive.com/icons/martz90/hex/256/gamehub-icon.png" height="36" width="36">
								</span><a href="/games">GAMES</a>
							</li>
				    <li role="presentation"><span id="media-link">
										<img id="media" src="http://icons.iconarchive.com/icons/martz90/hex/256/poweramp-icon.png" height="36" width="36">
								</span><a href="/media">MEDIA</a>
							</li>

				     <li role="presentation"><span id="posts-link">
										<img id="posts" src="http://icons.iconarchive.com/icons/martz90/hex/256/wordpress-icon.png" height="36" width="36">
								</span><a href="/posts">POSTS</a>
								</li>

				      <li role="presentation"><span id="contact-link">
										<img id= "contact" src="http://icons.iconarchive.com/icons/martz90/hex/256/email-2-icon.png" height="36" width="36">
								</span><a href="contact">CONTACT</a>
								</li>
				</ul>
			</div>
	</nav>
</div>

<body>
		
		<h3 id="matching-title"><img id="match-games" src="http://icons.iconarchive.com/icons/martz90/hex/256/gamehub-icon.png" height="46" width="46">Matching Game </h3>

	<hr>
			
	<div div="word-list">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<table>
						<tr>
							<h4 id="game_instructions">Click on all the words associated to the verb</strong> <b>PLAY</b>.<p></h4>
						</tr>
				</div>
					<div class="row">
						<div class="col-md-6">
						<div id="score-table">
							<tr>
							<th id="score"> YOUR SCORE </th><td>
									<div id="output">0
									</div>
									</td>
								</tr>
							</div>
						</div>
					</div>

						<tr>
							<td id="doRight1">football </td> 
							<td id="doRight2">ball </td> 
							<td id="doWrong1">door </td>
							<td id="doRight3">ground </td>
							<td id="doRight4">around </td>
							<td id="doRight5">chess </td>
							<td id="doRight6">music </td>
							<td id="doWrong2">feast </td>
							<td id="doRight7">hockey </td>
							<td id="doRight8">the trumpet </td>
							<td id="doRight9">the piano </td>
					
						</tr>

						<hr>

					
					</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$('td#doRight1, td#doRight2, td#doRight3, td#doRight4, td#doRight5, td#doRight6, td#doRight7, td#doRight8, td#doRight9').on('click', function() {
		    $('#output').html(function(i, val) { return val*1+1 });
		});

		$('td#doRight1, td#doRight2, td#doRight3, td#doRight4, td#doRight5, td#doRight6, td#doRight7, td#doRight8, td#doRight9').on('click', function() {
			alert('Correct!');
		});

		$('td#doWrong1, td#doWrong2').on('click', function() {
			alert('Wrong!');	
		});

		$('td#doRight1').on('click', function() {
			$('td#doRight1').css('background-color', 'rgb(73,203,214)');
		});

		$('td#doRight2').on('click', function() {
			$('td#doRight2').css('background-color', 'rgb(73,203,214)');
		});

		$('td#doRight3').on('click', function() {
			$('td#doRight3').css('background-color', 'rgb(73,203,214)');
		});

		$('td#doRight4').on('click', function() {
			$('td#doRight4').css('background-color', 'rgb(73,203,214)');
		});

		$('td#doRight5').on('click', function() {
			$('td#doRight5').css('background-color', 'rgb(73,203,214)');
		});

		$('td#doRight6').on('click', function() {
			$('td#doRight6').css('background-color', 'rgb(73,203,214)');
		});

		$('td#doRight7').on('click', function() {
			$('td#doRight7').css('background-color', 'rgb(73,203,214)');
		});

		$('td#doRight8').on('click', function() {
			$('td#doRight8').css('background-color', 'rgb(73,203,214)');
		});

		$('td#doRight9').on('click', function() {
			$('td#doRight9').css('background-color', 'rgb(73,203,214)');
		});

		$('td#doWrong1').on('click', function() {
			$('td#doWrong1').css('background-color', '#D11B1B');
		});

		$('td#doWrong2').on('click', function() {
			$('td#doWrong2').css('background-color', '#D11B1B');
		});

	</script>
</body>
</html>




