<img id="media-new" src="http://icons.iconarchive.com/icons/martz90/hex/256/poweramp-icon.png" height="36" width="36">

<h3 id="media-title"> Have fun with the latest media </h3>

<hr>

<%= link_to 'Home', root_path %><br>

<hr>

<div class="container">

	<div class="row">
		<div class="col-md-6">
			<table id="spotify-table">
				<th>Listen to our Karaoke Songs! </th> 
				<tr>
					<td>
						<div id="spotify_container">
							<iframe src="https://embed.spotify.com/?uri=spotify:user:deivymc:playlist:3bSJWrbDG4rKwURqdBVmJP" width="300" height="380" frameborder="0" allowtransparency="true"></iframe><br>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<table id="video-table">
				<th> Latest videos </th> 
				<tr>
					<td>
						<video src="/StickStuckStuck.mp4" controls>
						</video>	
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>









