
<h3 id="media-title"><img id="media-new" src="http://icons.iconarchive.com/icons/martz90/hex/256/poweramp-icon.png" height="46" width="46">
 Have fun with the latest media </h3>

<hr>

<div id="home-link">
<%= link_to 'Home', root_path %><br>
</div>

<hr>

<div class="container">

	<div class="row">
		<div class="col-md-6">
			<table id="spotify-table">
				<th>Listen to our Karaoke Songs! </th> 
				<tr>
					<td>
						<div id="spotify_container">
							<iframe src="https://embed.spotify.com/?uri=spotify:user:deivymc:playlist:3bSJWrbDG4rKwURqdBVmJP" width="300" height="380" frameborder="0" allowtransparency="true"></iframe><br>
						</div>
					</td>
				</tr>
			</table>
		</div>

		<div class="col-md-6">
			<table id="video-table">
				<th> Latest videos </th> 
				<tr>
					<td>

						<video src="duolingo.mp4" controls>
						  Your browser does not support the <code>video</code> element.
						</video>
							
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>









