<h1> Student info </h1>

<p> 
	<% @students.each do |student| %>

<table>
<tr>
	Welcome, <%= student.name %>!<br>

	<li>Age: <%= student.age %></li>
	<li>Level: <%= student.level %></li>
	<li>Progress: <% student.progress %></li>
	<li>Score: <% student.score %></li><br>
</tr>
</table>

<% end %> 
</p>

