<h2> These two APPs can take your English learning to the next level! </h2>

    <div id="duolingo container">
        <table>
            <th><img src="http://icons.iconarchive.com/icons/martz90/hex/256/duolingo-icon.png" height="46" width="46">An amazing and interactive way of learning English.</th>
            <tr>
                <td>Keep learning with Duolingo!</td>
            </tr>
        </table>
    </div>


    <div id="dropbox_container">
        <table>
            <th><img src="http://icons.iconarchive.com/icons/martz90/hex/256/dropbox-icon.png" height="46" width="46">Browse our Dropbox folder</th>
                <tr>
                    <td>One of the best cloud servers to share our content.</td>
                </tr>
                <tr> 
                    <th><%= link_to 'Upload your file to dropbox', controller: "dropbox", action: "main" %></th>
                <tr>
                    <th><%= link_to 'Authenticate', controller: "dropbox", action: "auth_start" %></th>
                </tr>
        </table>

        <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="ps8sv6wjj5v125t">
            var button = Dropbox.createChooseButton(options);
            document.getElementById("container").appendChild(button);
        </script>

        <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="ps8sv6wjj5v125t"></script>
        <a href="https://www.dropbox.com/s/njx4ymzqus7ejgs/gse_multipart44942.jpg?dl=0" class="dropbox-saver"></a><br>
        
<%= link_to 'Back',root_path %>




