<h3> Keep learning with Duolingo! </h3>
<div id="duolingo_user">
	<img src="http://icons.iconarchive.com/icons/martz90/hex/256/duolingo-icon.png" height="46" width="46">
	<p>
		An amazing and interactive way of learning English.
	</p>
</div>

<div id="dropbox_user">
	<h3> Browse our Dropbox folder </h3>
	<img src="http://icons.iconarchive.com/icons/designbolts/embossed-social/256/Dropbox-icon.png" height="46" width="46">
	<p>
		One of the best cloud servers to share our content.
	</p>
</div>

<%= link_to 'Back', root_path%>




