<div id="teachers-header">	
	<h3 id="teachers-title"><img id="teachers" src="http://icons.iconarchive.com/icons/martz90/hex/256/bookmark-icon.png" height="46" width="46">  Teachers' Index </h3>
</div>

<hr>
<div id="home-link">
<%= link_to 'Home', root_path %><br>

<%= link_to 'Class Feedback', controller: "tutors", action:"index" %><br>
<a href="/duolingo/dashboard">Duolingo Dashboard</a>
</div>

<hr>

        <h3 id="teachers-title2">Give your best in the class!</h3>
    </header>
     
   <div id="issuu-reading" data-configid="3007336/13454019" style="width:525px; height:371px;" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script> 

</div>