/*Home CSS*/

html {
   height: 100%; 
}

img#tefl-logo {
   color: white; 
   font-size: 30px; 
   font-family: Oxygen; 
   margin-top: -8px; 
}

a.btn.btn-navbar {
   font-size: 20px; 
   font-family: Oxygen, sans-serif; 
   margin-top: -10px; 
}

nav.navbar {
   position: fixed; 
   top: 0; 
   left: 0; 
   width: 100%; 
   height: 60px;  
   background-color: #49CBD6;  
   padding: 10px;
}

nav#log_container {
  font-family: Oxygen; 
  margin-left: 30px; 
  padding-top: 20px; 
  padding-bottom: 10px; 
}

h3.session-title {
   color: white; 
}

form{
  position: center; 
  width: 50%;
  margin: 10px; 
  padding: 20px; 
  padding-top: 35px; 
  text-align: center;
  background-color: #49CBD6; 
  box-shadow: 0 0 1em black;
  border-radius: 20px 20px 20px 20px; 
}

img.img-responsive {
   top: 0; 
   left: 0; 
   position: fixed; z-index: -1;
   width: 200%;
   height: 300px; 
}

.login-img {
   top: 0; 
   left: 0; 
   right: 0; 
   position: fixed; z-index: -1;
   width: 100%;
   height: 1000px; 
   
}

h1#platform-name {  
   text-align: center; 
   margin-top: -15%;
   margin-left: 10%; 
   margin-right: 10%;
   padding:10px; 
   font-family: Oxygen; 
   font-size: 60px;
} 

p.motto {
   text-align: center; 
   margin-left: 10%; 
   margin-right: 10%; 
   padding-bottom: 10px; 
   font-family: Oxygen; 
   font-size: 25px; 
   color: white; 
}

h3.recent-posts-header {
   padding-top: 50px; 
}

button#like-button {  
   background-color: #49CBD6;
}

h3#latest_post, h3#latest_feedback{
   padding: 10px;
}

table#post-comments {
   text-align: center; 
   width: 50%;
   margin-top: 10px;  
   background-color: #49CBD6;
    box-shadow: 0 0 1em black;
   border-radius: 20px 20px 20px 20px; 
}

body { 
   font-family: verdana; 
   width: 1024;
   height: 600px; 
   margin-top: 5%; 
   margin-right: 10%; 
   margin-left: 10%; 
   margin-bottom: 10%; 
} 

span > a {
   font-style: georgia; 
   font-size: 14px;
   text-align: auto;  
   color: black; 
}


#like-button {
   padding: 4px; 
   margin-left: 50px; 
   box-shadow: 0 0 1em black;
   border-radius: 20px 20px 20px 20px;
   margin: 4px;
   font-size: 14px; 
}

/*Posts, comments & feedback CSS*/

table#posts {   
   margin-right: 20px;
   margin-left: 20px;
   box-shadow: 0 0 1em black;
   border-radius: 20px 30px 30px 20px;
}


h3#post-title {
   width: 50%; 
   text-align: center; 
   background-color: #49CBD6;  
   box-shadow: 0 0 1em black;
   border-radius: 20px 20px 20px 20px; 
   padding: 3px; 
   margin-top: 10px; 
   margin-left: 300px;

}

div#posts-content {
   margin: 10px;
}

ul.pager {
   text-align: left; 
}

table#post-comments {
   width: 50%; 
   margin-left: 150px; 
   margin-top: 50px; 
   color: black; 
   background-color: #49CBD6; 
   border-radius: 20px 20px 20px 20px; 
}

div#comments-content {
   margin-bottom: 10px; 
}

/* Headers & Titles */

h1#students-wall, h3#matching-title, h1#student-title, h3#media-title, h3#post-title, h3#title-tutor, h2#teachers-title  {
   width: 50%; 
   text-align: center; 
   background-color: #49CBD6;  
   box-shadow: 0 0 1em black;
   border-radius: 20px 20px 20px 20px; 
   padding: 3px; 
   margin-top: 10px; 
   margin-left: 250px;  
}

/* Game CSS */

h4#game_instructions {
   text-align: center; 
}

td#doRight,td#doWrong {
   padding: 20px; 
   font-size: 16px;
}

/*Tools CSS*/

h3#tools-title {
   width: 50%; 
   text-align: center; 
   background-color: #49CBD6;  
   box-shadow: 0 0 1em black;
   border-radius: 20px 20px 20px 20px; 
   padding: 10px; 
   margin-top: 10px; 
   margin-left: 250px;  
}

img#duolingo-logo {
   margin-bottom: 15px; 
   float: center; 
}

div#duolingo_container  {
   text-align: center; 
   margin: 10px;
   box-shadow: 0 0 2em green;
   padding: 25px; 
   border-radius: 20px 30px 30px 20px;
}

img#dropbox-logo {
  margin-bottom: 15px; 
  float: center; 
}

div#dropbox_container  {
   text-align: center; 
   margin: 10px;
   box-shadow: 0 0 2em blue;
   padding: 25px; 
   border-radius: 20px 30px 30px 20px;
}

/*Media CSS*/

h3#title, h3#media-title, h3#post-title { 
   width: 50%; 
   margin-left: 5px;
   background-color: #49CBD6;  
   box-shadow: 0 0 1em black;
   border-radius: 20px 20px 20px 20px; 
}

h4#media-subheader {
   padding: 20px; 
}

img#media-new {
   margin-top: -3px; 
}

iframe {
   position: relative; 
   
}

/*Teacher & Tutor CSS*/ 

h3#teachers-title2 {
   width: 50%; 
   text-align: center; 
   padding: 3px; 
   margin-left: 250px;
}

div#issuu-reading {
   box-shadow: 0 0 2em black;
   border-radius: 20px 20px 20px 20px; 
   padding: 10px; 
   margin-left: 25%;
   margin-right: 25%;
   margin-top: 2%; 
}

table#tutor-feedback, table#tutor-table {
   margin: 20px; 
}

span#contact-tutor-header {
   display: inline; 
}

/*Tables style*/

th {
   text-align: center; 
   font-size: 14px; 
   padding: 30px;
}

tr {
   margin-left: 5%;
   padding: 20px; 
   
}

td {
   font-size: 14px; 
   border-radius: 20px 30px 30px 20px;
   padding: 15px;  
}

div#word-list {
   margin: 10px;
}

/*Links CSS */

div#home-link {
   margin-left: 350px;
}

div#back_link {
    margin-left: 350px;
}

p.navbar-text {
   text-align: center; 
}
