
h1, div#motto {  
   padding:20px; 
   font-family: verdana; 
   font-size: 20px;
} 

body { 
   font-family: verdana; 
} 

nav > img{
   margin-top: 20px;
   margin-bottom: -10px; 
   margin-left: 10px;
}

h3 {
   margin-top: 40px
}

#like-button {
   margin-left: 200px; 
   box-shadow: 0 0 1em blue;
}

div#posts-titles {
   margin: 10px
}

div#posts-content {
   margin: 10px;
}

h3#tools-title {
   text-align: center;    
}

img#duolingo-logo {
   margin-left: 50%; 
   float: center; 
}

img#dropbox-logo {
  margin-left: 50%; 
  float: center; 
}

div#duolingo_container  {
   text-align: center; 
   margin: 10px;
   box-shadow: 0 0 2em green;
   padding: 25px;   
}

div#dropbox_container  {
   text-align: center; 
   margin: 10px;
   box-shadow: 0 0 2em blue;
   padding: 25px; 
}

th {
   font-size: 14px; 
}

td {
   font-size: 14px; 
   background-color: #D4D4BF; 
   padding: 15px;
}

tbody {
    box-shadow: 0 0 1em blue;
}

#nav_bar > a {
   color: black;
   font-size: 16px;
   margin-left: 10px;
}

nav{ 
   display: inline-block;
}

div#back_link {
   text-align: center;
}
