<!DOCTYPE html>
<html>
<head>
  <title>Tefl Platform</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'=> true %>
  <%= csrf_meta_tags %>
</head>
<body>

<script src="games.js"></script>
<%= yield %>

</body>
</html>
