<!DOCTYPE html>
<html>
<head>
  <title>Tefl Platform</title>
  <link rel="stylesheet" href="home.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'=> true %>
  <%= csrf_meta_tags %>

</head>
<body>


	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
	
  <!-- Crean un error de MIME en el vídeo
  <script type="text/javascript" src="posts.js"></script>
	<script type="text/javascript" src="games.js"></script>
  -->
<%= yield %>

</body>

<hr>
<footer>
	David Navarro, 2015
</footer>
</html>
