<!DOCTYPE html>
<html>
<head>
  <title>Tefl Platform</title>

  <link rel="stylesheet" type="text/css" href="home.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'=> true %>
  <%= csrf_meta_tags %>

</head>
<body>


	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="posts.js"></script>
	<script src="games.js"></script>
<%= yield %>

</body>
</html>
